select {
  clear: both;
  margin: 20px;
}

select#table {

}

// #map {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

#map {
    position: fixed !important;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.4);
}

#control {
  // display: none;
  position: fixed;
  top: 2px;
  left: 10px;
  right: 10px;
  height: auto;
  padding: 0px 0px;
  background-color: rgba(255,255,255,0.6);
  z-index: 998;
}



/* Map Legend 
from Leaflet tutorial http://leafletjs.com/examples/choropleth.html
---------------------------------------------------------------------- */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



/* Report Window Scrollover
   from codeforboston/cambridge_voting_locations
---------------------------------------------------------------------- */

#report {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(80%);
    background: white;
    // color: $dark_gray;
    z-index: 999;
    transition: transform .3s ease;

    header {
        position: relative;
        // background: $light_gray;
        min-height: 20%;
        padding: 10px 30px 5px;
        // color: $dark_gray;
        text-align: center;
        border-top: 3px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    h4 {
        color: gray;
        font-size: 150%;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        height: 60%;
    }

    .notes {
        font-size: 115%;
        height: 40%;
    }

    &.up {
        transform: translateY(0);
        transition: transform .3s ease;
    }
}