/*

*/
/* by Damoin Yeatman
   http://cssdeck.com/labs/styling-select-box-with-css3 
   -----------------------------------------------------*/
select {
  padding: 3px;
  margin: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 18px; } }
label {
  position: relative; }

label:after {
  content: '<>';
  font: 11px "Consolas", monospace;
  color: #aaa;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 2px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none; }

label:before {
  content: '';
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block; }

/* end of select reworking */
#map {
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0; }

#title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ababab;
  height: 50px;
  padding: 15px 0px 5px;
  color: #2d2d2d;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  z-index: 997;
  font: 30px/34px Rockwell, Goudy Old Style, Franklin Gothic Book, TW Cent MT;
  color: #FFF; }
  #title-bar span {
    cursor: pointer;
    text-decoration: underline; }
  #title-bar a {
    position: relative;
    top: -65px;
    color: #FFF; }
    #title-bar a .small {
      font-size: 10px; }
  #title-bar select {
    position: relative;
    top: -70px;
    max-width: 230px; }
  #title-bar .aside {
    top: -10px;
    position: relative;
    left: 30px;
    clear: both;
    z-index: 1001;
    display: block; }

/* Map Legend 
from Leaflet tutorial http://leafletjs.com/examples/choropleth.html
---------------------------------------------------------------------- */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.info h4 {
  margin: 0 0 5px;
  color: #777; }

.legend {
  line-height: 18px;
  color: #555; }

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7; }

/* Report Window Scrollover
   from codeforboston/cambridge_voting_locations
---------------------------------------------------------------------- */
#report {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(85%);
  background: white;
  color: #2d2d2d;
  z-index: 999;
  transition: transform .3s ease; }
  #report header {
    position: relative;
    background: #ababab;
    min-height: 15%;
    padding: 15px 70px 5px;
    color: #2d2d2d;
    text-align: left;
    border-top: 3px solid rgba(0, 0, 0, 0.4); }
  #report h4 {
    font-family: Rockwell, Goudy Old Style, Franklin Gothic Book, TW Cent MT, Helvetica Neue;
    color: white;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25); }
  #report #content {
    background: white; }
    #report #content .category {
      background: #509fd4;
      padding: 5px 20px 10px; }
      #report #content .category h4 {
        font: 28px/32px Rockwell, Goudy Old Style, Franklin Gothic Book, TW Cent MT;
        color: #edece2; }
      #report #content .category .fields {
        color: white; }
        #report #content .category .fields .field {
          display: block;
          width: 30%;
          margin: 0px 10px;
          padding: 10px;
          font: 18px/21px Rockwell, Goudy Old Style, Franklin Gothic Book, TW Cent MT; }
          #report #content .category .fields .field .name {
            display: inline; }
          #report #content .category .fields .field .separator {
            display: inline;
            margin: 0 4px; }
          #report #content .category .fields .field .value {
            display: inline; }
          #report #content .category .fields .field a.delete {
            margin-left: 6px;
            display: inline;
            color: #2d2d2d;
            width: 10px;
            height: 10px;
            font-size: 14px; }
            #report #content .category .fields .field a.delete:hover {
              width: 20px;
              color: #d2576a;
              cursor: pointer; }
