$map-brown: #EDECE2;
$dark_gray: #2d2d2d;
$med_gray: #4d4d4d;
$light_gray: #ababab;
$extra_light_gray: #e1e1e1;

$dark_red: #9d0c22;
$med_red: #c71b35;
$light_red: #d2576a;
$extra_light_red: #ffb3bd;

$dark_blue: #0c5c92;
$med_blue: #246ada;
$light_blue: #509fd4;
$extra_light_blue: #b1d4eb;

$mapc-fonts: Rockwell, Goudy Old Style, Franklin Gothic Book, TW Cent MT;

select {
  clear: both;
  margin: 20px;
}
// #map {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

#map {
    position: fixed !important;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.4);
}

#control {
  // display: none;
  position: fixed;
  top: 2px;
  left: 10px;
  right: 10px;
  height: auto;
  padding: 0px 0px;
  background-color: rgba(255,255,255,0.6);
  z-index: 998;
}



/* Map Legend 
from Leaflet tutorial http://leafletjs.com/examples/choropleth.html
---------------------------------------------------------------------- */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



/* Report Window Scrollover
   from codeforboston/cambridge_voting_locations
---------------------------------------------------------------------- */

#report {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(85%);
    background: white;
    color: $dark_gray;
    z-index: 999;
    transition: transform .3s ease;

    header {
        position: relative;
        background: $light_gray;
        min-height: 15%;
        padding: 15px 70px 5px;
        color: $dark_gray;
        text-align: left;
        border-top: 3px solid rgba(0, 0, 0, 0.4);
        // cursor: pointer;
    }

    h4 {

        font-family: $mapc-fonts, Helvetica Neue;
        color: white;
        font-size: 200%;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    #content {
      background: white;

      .category {
        background: $light_blue;

        padding: 5px 20px 10px;

        h4 {
          font: 28px/32px $mapc-fonts;
          color: $map-brown;
        }
        .fields {
          color: white;

          .field {
            display: block;
            margin: 0px 10px;
            padding: 10px;
            font: 18px/21px $mapc-fonts;

            .name { 
              display: inline;
            }
            .separator{
              display: inline; 
            }
            .value { 
              display: inline;
            }
            a.delete {
                display: inline;
                color: $dark_gray;
                width: 10px;
                height: 10px;
                font-size: 14px;
              &:hover {
                width: 20px;
                color: $light_red;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    // .notes {
    //     font-size: 115%;
    //     height: 40%;
    // }

    // &.up {
    //     transform: translateY(0);
    //     transition: transform .3s ease;
    // }
}